@font-face {
    font-family: "Nunito";
    src: url('/src/Fonts/fontsfamily/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Saira Condensed";
    src: url('/src/Fonts/fontsfamily/Saira_Condensed/SairaCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Parisienne";
    src: url('/src/Fonts/fontsfamily/Parisienne/Parisienne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dancing Script";
    src: url('/src/Fonts/fontsfamily/Dancing/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}








